<div class="content" id="card-briefcase">

    <h1 class="h1-1">Technologies and Languages </h1>

    <div class="grid">
        <figure class="effect-sadie">
            <img src="/assets/img/street.jpg" alt="img02" />
            <figcaption>
                <h2>Back <span>End</span></h2>
                <p>
                    Java - Microservices Spring Boot
                    <br>
                    C# - Microservices Net Core
                    <br>
                    Elixir - Phoenix
                </p>
            </figcaption>
        </figure>

        <figure class="effect-sadie">
            <img src="/assets/img/street2.jpg" alt="img02" />
            <figcaption>
                <h2>Front <span>End</span></h2>
                <p>
                    Angular 2+
                    <br>
                    React Js
                    <br>
                    Vue
                    <br>
                    Javascript
                    <br>
                    Jquery
                </p>


            </figcaption>
        </figure>


        <figure class="effect-milo">
            <img src="/assets/img/street3.jpg" alt="img11" />
            <figcaption>
                <h2>Movil <span>App's</span></h2>
                <p>
                    Android Native - Java
                    <br>
                    Ionic 4
                    <br>
                    Flutter
                </p>
            </figcaption>
        </figure>

        <figure class="effect-milo">
            <img src="/assets/img/street4.jpg" alt="img11" />
            <figcaption>
                <h2>Data <span>Bases</span></h2>
                <p>
                    SQL Server
                    <br>
                    MySql
                    <br>
                    Postgress
                    <br>
                    Firebase
                    <br>
                    MongoDB
                    <br>
                    DynamoDB
                </p>
            </figcaption>
        </figure>
    </div>
</div>