<div class="content" id="card-briefcase">
    <h2>Sadie</h2>
    <div class="grid">
        <figure class="effect-sadie">
            <img src="https://tympanus.net/Development/HoverEffectIdeas/img/2.jpg" alt="img02" />
            <figcaption>
                <h2>Holy <span>Sadie</span></h2>
                <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect-romeo">
            <img src="https://tympanus.net/Development/HoverEffectIdeas/img/17.jpg" alt="img17" />
            <figcaption>
                <h2>Wild <span>Romeo</span></h2>
                <p>Romeo never knows what he wants. He seemed to be very cross about something.</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>

        <figure class="effect-milo">
            <img src="https://tympanus.net/Development/HoverEffectIdeas/img/11.jpg" alt="img11" />
            <figcaption>
                <h2>Faithful <span>Milo</span></h2>
                <p>Milo went to the woods. He took a fun ride and never came back.</p>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    </div>
</div>