<div id="contact">
    <h1 class="h1-1">Contact Me </h1>

    <div class="card ">
        <div class="card-body" style="color: antiquewhite;">
            <h2 class="card-title"></h2>
            <h4 class="card-text">
                If you are interested in doing some development, looking for someone to solve problems with your current
                application or other anything related with dev, do not hesitate to contact me.
            </h4>
        </div>

    </div>

    <div class="divf">
        <br>
        <hr>
        <br>
        <div class="myself">
            <div class="property">
                <img src="assets/img/email.svg" width="60px">
            </div>
            <div class="value">                
                <h4 style="color: antiquewhite;top: 10px;" >krodriguezhub@gmail.com</h4>
            </div>
        </div>
    </div>

</div>