<div id="infoSection">
    <h1 class="h1-1">Introduction</h1>

    <div class="card ">
        <div class="card-body" style="color: antiquewhite;">
            <h2 class="card-title">Let's Rock</h2>
            <h4 class="card-text">
                Hello and welcome to my portfolio, my name is Kevin Rodriguez and I am too happy that you can read
                this... I
                am passionate for being in constant growth both as personal and work that's why I dedicate every time I
                can
                in study.

                <br>
                I have been working as software developer since 7 years ago.

                On the other hand I love the programmation and that's what I want offer to you, I can to make any type
                of
                develops web, mobile desktop app microservices among others
            </h4>
        </div>
    </div>
</div>